In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [12]:
titles.tail()

                        title  year
221451  Nobody Waved Good-bye  1964
221452                  E yue  2005
221453           Lakota Girls  2015
221454         Kroniki domowe  1997
221455           The Sting II  1983

In [11]:
len(titles)

221456

### What are the earliest two films listed in the titles dataframe?

In [29]:
titles['year'].sort_values()

169295    1894
118672    1899
12893     1900
19605     1900
90505     1900
174780    1900
199217    1903
64968     1905
31049     1905
151205    1906
184238    1906
158284    1906
138207    1906
26788     1906
196408    1907
206443    1907
60560     1907
121653    1907
36850     1908
48985     1908
219488    1908
105738    1908
124636    1908
164749    1908
174327    1909
1289      1909
84851     1909
60525     1909
1674      1909
75242     1909
          ...
205323    2020
167072    2020
184967    2020
124727    2020
150470    2020
175233    2020
54526     2020
87874     2020
128386    2020
10303     2021
159762    2021
65321     2021
155405    2021
203597    2021
176905    2021
213744    2021
39505     2021
72717     2021
174242    2021
134852    2022
27122     2022
71759     2022
132016    2022
209915    2022
25230     2022
169858    2023
195282    2023
101230    2023
183832    2023
27864     2023
Name: year, dtype: int64

In [42]:
ordered_years = titles['year'].sort_values()

ordered_years[0:2]

169295    1894
118672    1899
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [45]:
len( titles[titles['title'] == "Hamlet"] )

19

### How many movies are titled "North by Northwest"?

In [51]:
len( titles[titles['title'] == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [54]:
titles[titles['title'] == 'Hamlet']['year'].sort_values()

44495     1910
199976    1911
158456    1913
93937     1921
5671      1948
69827     1954
174253    1964
116957    1969
211059    1973
87794     1976
89890     1987
212687    1990
191721    1996
90089     2000
167696    2009
197714    2011
213086    2014
38240     2015
26728     2016
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

In [55]:
len(titles[titles['year'] == 1950])

1039

### How many movies were made in the year 1960?

In [56]:
len( titles[titles['year'] == 1960])

1483

### How many movies were made from 1950 through 1959?

In [57]:
len( titles[ (titles['year'] >= 1950) & (titles['year'] < 1960)] )

12234

### In what years has a movie titled "Batman" been released?

In [59]:
titles[ titles['title'] == "Batman"]['year']

53333    1989
71086    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [63]:
len(cast[ cast['title'] == "Inception"])

76

In [64]:
cast[ cast['title'] == "Inception"]

,title,year,name,type,character,n
89684,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
136266,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
168585,Inception,2010,Tom Berenger,actor,Browning,8.0
181416,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
238807,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
300758,Inception,2010,Michael Caine,actor,Miles,11.0
306880,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
345161,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
399397,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
409245,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
477152,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
544904,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
631422,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
637476,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
653202,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
654820,Inception,2010,Russ Fega,actor,Cab Driver,23.0
680775,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
746062,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
750010,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
768252,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
769466,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
772171,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
793958,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
840844,Inception,2010,Lukas Haas,actor,Nash,12.0
868939,Inception,2010,Tom Hardy,actor,Eames,4.0
893494,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
930225,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1012067,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1024459,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1034979,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
...,...,...,...,...,...,...
1731494,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1773072,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1845399,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1890792,Inception,2010,Felix Scott,actor,Businessman,46.0
1962343,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2064502,Inception,2010,Affan Tareen,actor,Denison,NaN
2075782,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2091209,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2219018,Inception,2010,Ken Watanabe,actor,Saito,5.0
2407895,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2543218,Inception,2010,Marion Cotillard,actress,Mal,9.0
2552617,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2570604,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2580432,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2692228,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2692236,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2708317,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2801252,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
2884648,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
2886953,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
2893210,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2933004,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
2953020,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3057924,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3072402,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3096668,Inception,2010,Ellen Page,actress,Ariadne,3.0
3147850,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3172902,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3179254,Inception,2010,Talulah Riley,actress,Blonde,25.0
3402296,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [72]:
inception_cast = cast[ cast['title'] == "Inception" ]

len(inception_cast[ inception_cast['n'].notnull()])

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [73]:
len(inception_cast[ inception_cast['n'].isnull()])

25

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [75]:
nbnw_cast = cast[ cast['title'] == "North by Northwest"]['n']

nbnw_cast[nbnw_cast.notnull()].sort_values()

804531      1.0
3213213     2.0
1344970     3.0
2891658     4.0
328499      5.0
2795782     6.0
1565318     7.0
1176515     8.0
2256893     9.0
1672061    10.0
614470     11.0
2117247    12.0
428231     13.0
1392718    14.0
189211     15.0
1277921    16.0
Name: n, dtype: float64

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [107]:
sleuth_cast_1972 = cast[ (cast['title'] == "Sleuth") & (cast['year'] == 1972)]

sleuth_cast_1972[ sleuth_cast_1972['n'].notnull() ].sort_values('n')

,title,year,name,type,character,n
1574525,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
300786,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
344453,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1352544,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2506251,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1337248,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [101]:
dd

1745208    1.0
1538816    1.0
2995644    1.0
3374800    1.0
3374799    1.0
3374798    1.0
2586678    1.0
1004368    1.0
277376     1.0
2586682    1.0
367533     1.0
3374794    1.0
1275310    1.0
2586684    1.0
3374792    1.0
3374796    1.0
2586685    1.0
3374803    1.0
367531     1.0
2586671    1.0
2995656    1.0
1884055    1.0
1884053    1.0
1884052    1.0
2995653    1.0
3374804    1.0
162938     1.0
1538796    1.0
3374809    1.0
3374808    1.0
          ...
3450836    NaN
3450849    NaN
3450850    NaN
3450852    NaN
3450853    NaN
3450855    NaN
3450858    NaN
3450860    NaN
3450861    NaN
3450862    NaN
3450863    NaN
3450864    NaN
3450865    NaN
3450866    NaN
3450867    NaN
3450868    NaN
3450869    NaN
3450870    NaN
3450871    NaN
3450872    NaN
3450873    NaN
3450874    NaN
3450875    NaN
3450877    NaN
3450879    NaN
3450880    NaN
3450885    NaN
3450886    NaN
3450887    NaN
3450893    NaN
Name: n, dtype: float64

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?